#{$form} {
	--start: 40px;
	--end: 40px;

	row-gap: var(--start);
	background: linear-gradient(0deg,
			var(--black-50) 0%,
			rgba(247, 247, 247, 0) 100%);

	&--wr{
		gap: 32px;
	}

	&--i{
    display: flex;
    flex-direction: column;
    gap: 8px;
	}
	
	&__in{
		padding: 12px 15px;
    border-radius: 2px;
    border: 1px solid var(--color-mid-dark);
		color: var(--heading);
		background-color: var(--color-light);
	}

	&__con{
		align-items: center;
		gap: 15px;
	}

	&__w {
		display: grid;
		gap: 40px;
		box-shadow: 0 0 0 0.5px rgba(0, 20, 40, 0.1),
			0 2px 8px 0 rgba(50, 55, 90, 0.2);
		padding: 24px;
		background-color: var(--white);
		border: 1px solid var(--black-400);
		border-radius: 5px;
	}

	&__col {
		gap: 16px;

		&--5{
			display: flex !important;
			justify-content: space-between;
		
			.cf7-cf-turnstile{
				iframe{
					width: 100% !important;
					overflow: visible !important;
				}
			}

			@media (max-width: 768px){
				flex-wrap: wrap;
			}
		}

		&--g {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
	}

	&__btn{
		background-color: var(--primary-50);
    display: inline-flex;
    height: 60px;
    padding: 16px 24px;
    justify-content: center;
		color: var(--heading);
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
		border: 1px solid var(--black-100);

		svg{
			display: none;
			color: var(--white);
		}
	}

	&__ra {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	// &__con {
	// 	display: grid;
	// 	gap: 16px;
	// 	grid-template-columns: repeat(
	// 		var(--grid-placement, auto-fill),
	// 		minmax(0fr, var(--grid-min-item-size, 21rem))
	// 	);

	// 	&[data-layout="min-50/50"]{
	// 		--grid-min-item-size: clamp(10.50rem, 50vw, 21rem);
	// 	}

	// 	&[data-layout="min-thirds"]{
	// 		--grid-min-item-size: clamp(10rem, 33%, 13rem);
	// 	}

	// 	@media (max-width: 480px){
	// 		grid-template-columns: 1fr;
	// 	}

	// 	[name="email"] {
	// 		@media (min-width: 480px){
	// 			grid-column: span 2;
	// 		}
	// 	}

	// 	&--1 {
	// 		--items: 2;
	// 	}

	// 	&--2 {
	// 		--items: 2;
	// 	}

	// 	&--3 {
	// 		--items: 1;
	// 	}
	// }

	&--con {
		row-gap: 24px;

		&__acc {
			display: flex;
			align-items: flex-start;
			gap: 12px;
			align-self: stretch;
		}

		&__in {
			display: flex;
			height: 80px;
			padding: 20px;
			padding-top: 0px;
			align-items: flex-start;
			gap: 12px;
			align-self: stretch;
			border: 1px solid var(--black-200, #c8c8c8);
		}

		&__h {
			display: grid;
			gap: 8px;
		}

		&__col {
			display: flex;
			gap: 24px;

			@media (max-width: 1024px) {
				flex-direction: column;
			}

			& .wpcf7-submit {
				display: flex;
				width: 364px;
				height: 60px;
				padding: 16px 24px;
				justify-content: center;
				align-items: center;
				gap: 12px;
				flex-shrink: 0;
			}

			input {
				border: 1px solid var(--black-200, #c8c8c8);
			}

			&>label {
				flex: 0 1 33%;
				gap: 8px;
				display: flex;

				@media (max-width: 1024px) {
					flex-direction: column;
					flex: 0 1 100%;
				}

				&>input {
					padding: 20px;
					align-items: center;
					gap: 12px;
					align-self: stretch;
				}
			}

			& label {
				display: grid;
			}

			&--2 {
				display: grid;
				gap: 27px;
			}

			&--3 {
				place-content: center;
			}
		}
	}
}