#{$about_section}{
  --region-space: var(--space-xl-2xl);

  &__c{
    --region-space: var(--space-xs-xl);

    @media (max-width: 768px){
      --region-space: var(--space-m);
    }
    
    &--wr{
      display: flex;
      gap: 8px;
    }
  }

  .grid{
    --grid-min-item-size: 215px;
  }
}