#{$cta_section}{
  --region-space: var(--space-xs-s);
  // gap: 40px;

  &__l{
    gap: 40px;
  }

  &__i{
    gap: 6px;

    svg {
      flex-shrink: 0;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__c{
    gap: 20px;
  }
}