#{$hero_section} {
  --flow-space: 30px;
  --metric-gutter: var(--space-4xs-3xs);

  &__nav {
    bottom: calc(100% - var(--space-m-xl));
  }

  &__s {
    --region-space: var(--space-m-xl);

    @media (max-width: 1200px) {
      .region {
        --region-space: var(--space-m) 0;
      }
    }
  }
}