.marquee {
	--size: clamp(10rem, 1rem + 40vmin, 30rem);
	--gap: calc(var(--size) / 14);
	--duration: 60s;
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap));
	--region-space: var(--space-s);
	overflow: hidden;
	position: relative;
	user-select: none;

	&__head {
		padding-inline-end: var(--space-xs-s);

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -999em;
			right: 0%;
			bottom: 0;
			background: white;
			z-index: 1;
		}

		flex-shrink: 0;
		flex-basis: 169px;
		z-index: 1;
		background-color: white;
	}

	&.breakout-right {
		gap: 111px;
	}

	&:is(.is-visible) {
		.marquee__group {
			animation: scroll-x var(--duration) linear infinite;
		}
	}

	&__group {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: var(--gap);
		min-width: 100%;
	}

	&__content {
		align-items: center;
		display: flex;
		flex-shrink: 0;
		gap: var(--gap);
		justify-content: space-around;
		min-width: 100%;

		:first-child {
			display: flex;
		}
	}

	&__media {
		transform: scale(0.4);
	}
}

@keyframes scroll-x {
	from {
		transform: translateX(var(--scroll-start));
	}

	to {
		transform: translateX(var(--scroll-end));
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}
