#{$splide} {
    &__btn {
        align-items: flex-start;
        gap: 24px;
    }

    &--grid {
        &__custom {
            --colStart: 8;
            --colSize: 5;
            justify-self: end;
        }
    }
}

#{$splide}__arrows {
    &[data-layout="floatable"] {
        --size: 40px;
        --gutter: 30px;

        .swipe {
            width: var(--size);
            height: var(--size);
            padding: 8px;
            opacity: 1;
            justify-content: center;
            gap: 8px;
            background: var(--color-primary);
            color: white;
            align-items: center;
            border: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.3s ease;
            z-index: 2;
        }

        #swipe-left {
            left: 0;
            transform: translateX(calc(-1 * var(--size) - var(--gutter)));
        }

        #swipe-right {
            right: 0;
            transform: translateX(calc(var(--size) + var(--gutter)));
        }

        @media (max-width: 1320px) {
            #swipe-left {
                transform: translateX(calc(-1 * var(--size) + 18px));
            }

            #swipe-right {
                transform: translateX(calc(var(--size) - 18px));
            }
        }
    }
}

#{$splide}__arow svg {
    fill: white;
}